.show-img{
    object-fit: cover !important;
    height: 50vh !important; 
    width: 100% !important; 
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  
}
.image-div{
    width: 100%;
}

.CustomLinkDecoration{
    text-decoration: none !important;

}

