.Login-container {
    padding: 30px 0px 30px 90px;
    margin-top: 100px;
    margin-bottom: 45px;
     background: whitesmoke;
     border-radius: 15px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
     transition: 0.3s;
   }
   .bodybox{
    width: 100%;
    background: linear-gradient(135deg, #c3ecf7, #d9afd9);

  }

 
   .Login-container:hover {
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
   }
   .logbtn{
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
    , #0073e6);
   }